<div class="container">
    <div class="row p-2">
        <div class="col-12">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row p-2">
        <form action="/login" method="POST" id="form"></form>
        <div class="col-12">
            <input type="email" name="email" placeholder="Email">
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12">
            <input type="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12">
            <button>Login</button>
        </div>
    </div>
    {{#if errorMessage }}
    <div class="row p-2">
        <div class="col-12">
        {{ errorMessage }}
        </div>
    </div>
    {{/if}}
    <div class="row p-2">
        <div class="col-12">
            <p class="account-message"> Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </div>
        </form>
</div>
