<h1>Profile</h1>
<p>Username:<span>{{user.username}}</span></p>
<p>Email:<span>{{user.email}}</span></p>
<p>add more...<span></span></p>
<p>Modify profile:</p>
<form action="/modifyProfile" method="GET">
    <button type='submit' >Modify</button>
</form>


