<!-- partials/card.hbs -->
<div class="col-6 col-sm-6 col-md-4 col-lg-3 p-3">
    <img class="d-block mx-auto" src="{{image_uris.png}}" alt="{{name}}">
    <div class="row">
        <div class="col-12 text-center">
            <form action='/search/card/{{_id}}' method='post'> {{!-- only render this if the user is logged --}}
                <input name='owned' type="number" value="1" min="0" class="m-2" style="display: inline; max-width:40px">
                <button type='submit'>+</button>
            </form>
        </div>
    </div>
</div>