<!-- search/card.hbs -->
<div class="row pattern avoidSticked">
<div class="container-fluid pattern">
    <div class="row">
        <div class="col-xs-12">
            <h2>Card search</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form id="form" class="contact-form" action="/search/card" method="POST">
                <input type="text" name="name" placeholder="Name" onfocus="this.placeholder=''" onblur="this.placeholder='Name'"/>
                <input type="text" name="type" placeholder="Type" onfocus="this.placeholder=''" onblur="this.placeholder='Type'"/>
                <input type="text" name="subtype" placeholder="Subtype" onfocus="this.placeholder=''" onblur="this.placeholder='Subtype'"/>
                <input type="text" name="set_name" placeholder="Set Name" onfocus="this.placeholder=''" onblur="this.placeholder='Set Name'"/>
                <input type="text" name="legality" placeholder="Legality" onfocus="this.placeholder=''" onblur="this.placeholder='Legality'"/>{{!-- change type text for predefined choices --}}
                <input type="text" name="colors" placeholder="Colors" onfocus="this.placeholder=''" onblur="this.placeholder='Colors'"/>
                <a href="javascript:$('#form').submit();"  class="button-game">
                    <span class="button-game-bg-left"></span>
                    <span class="button-game-bg-mid">
                        <span class="ion-search  button-game-apple"></span><span>&nbsp;&nbsp;&nbsp;Search</span>
                    </span> 
                    <span class="button-game-bg-right"></span>
                </a>
            </form>
        </div>
    </div>

    <!-- ============== DIVIDER ============== -->
    <div class="Divider">
        <hr class="Divider-rule">
    </div>

    {{#if cardAdded}}
    <div class="row" style="margin-top: 40px auto">
        
        <p class="section-description" style="text-align:center">{{addedMessage}}</p>
    </div>
    <div class="container">
        <div class="col-xs-12 items-container bottom-wrapper">
        <p>&nbsp;</p>
    </div>
    </div>

    {{/if}}

    {{#if resultSearch}}
        <!-- SEARCH RESULTS -->
        <div class="row" style="margin: 15px auto">
            {{#each resultSearch}}
                {{> cardCard this}}
            {{/each}}
        </div>
    {{else}}
    <div class="container" style="min-height: 30vh">
        <div class="col-xs-12">
             <h3>Ready to search</h3>
             <p class="section-description" style="margin-bottom:45px">You can use and combine different types of criteria: name, type, subtype, set, legality or color.</p>
        </div>
    </div>
    {{/if}}


    </div>
</div>
</div>



