    <h2>Deck search</h2>
<form action="/search/deck" method="post">
    <label for="title">Title: <input type="text" name="title" /></label><br />
    <input hidden id='W' type="checkbox" name="colors[]" value="W"><label for='W'><img id='searchW' class='color-unchecked' src='/img/mana-cost/W.png' alt='W' onclick="clicked('searchW')"></label>
    <input hidden id='G' type="checkbox" name="colors[]" value="G"><label for='G'><img id='searchG' class='color-unchecked' src='/img/mana-cost/G.png' alt='G' onclick="clicked('searchG')"></label>
    <input hidden id='B' type="checkbox" name="colors[]" value="B"><label for='B'><img id='searchB' class='color-unchecked' src='/img/mana-cost/B.png' alt='B' onclick="clicked('searchB')"></label>
    <input hidden id='R' type="checkbox" name="colors[]" value="R"><label for='R'><img id='searchR' class='color-unchecked' src='/img/mana-cost/R.png' alt='R' onclick="clicked('searchR')"></label>
    <input hidden id='U' type="checkbox" name="colors[]" value="U"><label for='U'><img id='searchU' class='color-unchecked' src='/img/mana-cost/U.png' alt='U' onclick="clicked('searchU')"></label>
    <p>Legality:</p>
    <select name='legalities'>
        <option>All</option>
        <option value="standard">Standard</option>
        <option value="future">Future</option>
        <option value="historic">Historic</option>
        <option value="pionner">Pionner</option>
        <option value="modern">Modern</option>
        <option value="legacy">Legacy</option>
        <option value="pauper">Pauper</option>
        <option value="vintage">Vintage</option>
        <option value="penny">Penny</option>
        <option value="commander">Commander</option>
        <option value="brawl">Brawl</option>
        <option value="duel">Duel</option>
        <option value="oldschool">Oldschool</option>
    </select> 
    <button type='submit'>Search</button>
</form>
<div>
    <ul>
    {{#each decks}}
    <li><a href='/search/deck/{{_id}}'>{{title}}</a><div class='mana-cost'>{{colors}}</div></li>
    {{/each}}
    </ul>
</div>