
<form id="form" action="/deck" method="POST">
    <h2>Deck search</h2>
    <label for="params">Params</label>
    <br />
    <input type="params" name="params" placeholder="Params" />
    <button type="submit">Search</button>
</form>
<div>
    <ul>
    {{#each decks}}
    <li><a href='/search/deck/{{_id}}'>{{title}}</a></li>
    {{/each}}
    </ul>
</div>