
<form id="form" action="/search" method="POST">
    <h2>Card search</h2>
    <label for="params">Params</label>
    <br />
    <input type="params" name="params" placeholder="Params" />
    <button type="submit">Create account</button>
</form>