<h1>{{title}}</h1>
<div id="container">
    {{!-- Se ha de mostrar o los botones de signpu y login o los de profile y logout dependiendo de si ha iniciado sesion --}}
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
</div>

<p>Welcome to {{title}}</p>

