<div class="jumbotron"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col"><h1>{{title}}</h1></div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Cataloguing your collection, made easy.</h3>
            <p>The best Magic players are organised - and CardCastle is the best place to organise your collection!
            Keep track of the cards you own and how much they're worth, build and analyse decks, and share your collection with your friends.
            Join the CardCastle community today - it's free to sign up!</p>
            <button class="btn btn-dark">Signup</button>
        </div>
    </div>
</div>



