<h1>Profile</h1>
    <h2>Add new deck</h2>
    <form action="/makeDeck" method="POST">
        <label>Title: </label><input type='text' name='title'>
        <label>Description: </label><input type='text' name='description'>
        <button type='submit'>Make</button>
    </form>
    <h2>My Collection:</h2>
    <div>
        {{#each userCards}}
        {{> collectionCard this}}
        {{/each}}
    </div>
    <h2>My decks:</h2>